.bgnavbarperso {
   background-color: rgb(106, 22, 106) !important;
}

.bgnavbarperso li a{
/*color: #ffffff !important;*/
color: yellow !important;
padding-right: 100px !important;
}
.pour{
    color:orange !important;
    margin-right: 50px !important;

}
#formAnnee{
    display: none;
}

body{
    background-image: url('../../../serveur/donnees/big2.jpg') ;
   background-size:cover ;
   color: aliceblue;
    
}
label{
    font-size:xx-large;
    color: rgb(61, 6, 190);
}
input{
    background-color: rgb(184, 224, 245) !important;
    
}
button{
    background-color: rgb(61, 6, 190) !important ;
}